@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our book World!</h1>
    <p>Choose what you love!</p>
</div>

<!DOCTYPE html>
<html>

<body>



    <button class="button button1">Classics</button>


    <button class="button button2">Bestsellers</button>


    <button class="button button3">Science</button>

    <button class="button button4">Return</button>

</body>
</html>